<h2>Welcome to the Pizza Shop!</h2>
<button class="btn btn-primary btn-lg" onclick="someThing()">Click Me</button>
<p id="cart"></p>
<p id="tot"></p>
<div class="container">

	<div class="row">
		<% @products.each do |product| %>
	
			<div class="col-md-3">
				<p><%= product.title %></p>
				<image src="<%= product.path_to_image %>" width="100%" height="100%">
				<p><%= product.description %></p>
				<p>Price: <%= product.price%> $ </p>
				<p>Size: <%=product.size %> sm </p>
				<button class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to Cart</button>

			</div>
	
		<% end %>
	</div>
</div>
